*{ 
    text-align: center;
 }

 header{
     background-color: rgb(88, 159, 207);
     padding: 10px;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;}

footer{
    background-color: rgb(88, 159, 207);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    color: white }

img {
    padding: 14;}

.container-one a{
    color: white; }


h1, p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 14px; }

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(109, 183, 231);
    display: block;
    font-size: 2em;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;}
    
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(109, 183, 231);
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;}
    
#texto-parrafo {
    color: red; }

.box ul {
    list-style-type: none;
    display: inline-block;
    background-color: rgb(227, 243, 239) ;
    border: 3px solid #5b7edf;
    border-radius: 50%;
    width: 200px;
    padding: 20px;}

.box {
    width: 60%;
    padding: 20px;
    margin: auto;
    text-align: center;
    background-color: rgb(226, 234, 235);
    font-size: 18px;
    display: block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

i{
    font-size: 25px;
    padding: 34;
    text-align: left;}

.box ul li:first-child{
    color: #272ae7;}

.box ul li:nth-child(2){
    color:rgb(209, 35, 186);}

.box ul li:nth-child(3){
    color: rgb(27, 247, 38);}

.box ul li:last-child{
    color: rgb(231, 34, 34);}








